@{
    ViewData["Title"] = "Home Page";
}


<div>
    <h1> Hello and Welcome to .Net Core Development world </h1>
    <p> This is a great beginning to this new framework and we will definately be able to make / create wonders in automation </p>
    <p> Here is the pic of out first Development day </p>

    <img src="~/images/firstday.jpg"/>
</div>
